<header class="header-bar">
  <div class="header-main">
    <div class="header-inner-section">
      <button class="header-title-button" (click)="openMenu()">
        <mat-icon *ngIf="isMenuOpened" class="btn-icon">menu</mat-icon>
        <mat-icon *ngIf="!isMenuOpened" class="btn-icon">arrow_back</mat-icon>
      </button>
      <h4 class="header-title-text">Amazon Tool</h4>
    </div>

    <button class="icon-btn" (click)="logout()">
      <mat-icon><i class="fa fa-sign-out" style="font-size:24px;color:white;"></i></mat-icon>
    </button>

    <!-- <button type="submit" mat-icon-button color="accent" (click)="logout()"
      aria-label="Example icon button with a menu icon">
      <mat-icon><i class=" fa fa-sign-out " style="font-size:24px;color:white;"></i></mat-icon>
    </button> -->
  </div>
</header>