<div class="fileDailog_wrapper">
    <div class="dialog_heading">
        <div class="top-header">
            <h3 class="title-name">Update Link</h3>
        </div>

        <div class="link-upload-box">
            <form [formGroup]="updateUrlFrom" class="upload-link-box">
                <mat-icon>cloud_upload</mat-icon>
                <input id="link-link" formControlName="updateUrl" placeholder="Please enter url link"
                    type="text" class="upload-link-input">
            </form>
            <button mat-raised-button color="primary" (click)="uploadLinkEvent(updateUrlFrom.value)">
                <!-- <mat-icon>upload</mat-icon> -->
                Submit Link
            </button>

            <div *ngIf="isSubmit">
                <ng-container *ngIf="updateUrlFrom.get('updateUrl')?.hasError('required')">
                    <p class="validation">URL link is required.</p>
                </ng-container>
                <ng-container
                    *ngIf="updateUrlFrom.get('updateUrl')?.hasError('pattern') && !updateUrlFrom.get('updateUrl')?.hasError('required')">
                    <p class="validation">Please enter a valid URL</p>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="fileData mat-elevation-z8 cms-table" *ngIf="responseData && responseData.linkUrl">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="linkUrl">
                <th mat-header-cell *matHeaderCellDef class="t-head">link Url</th>
                <td mat-cell *matCellDef="let item">{{ item.linkUrl }}</td>
            </ng-container>
            <ng-container matColumnDef="uploadedBy">
                <th mat-header-cell *matHeaderCellDef class="t-head">Uploaded By</th>
                <td mat-cell *matCellDef="let item">{{ item.uploadedBy }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="t-head">Status</th>
                <td mat-cell *matCellDef="let item">{{ item.status }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <div class="spinner-container" *ngIf="isLoaderShow">
        <mat-spinner></mat-spinner>
    </div>
</div>