.list-menu {
    list-style: none;
    padding: 0;
    // width: 250px;
    border-right: 1px solid #d5d5d5;
    margin: 0;
    height: 100%;

    .list-item {
        padding: 5px 15px;

        &:first-child {
            padding-top: 10px;
        }

        .activeSubMenu {
            // .list-item-contant {
                background-color: #e0e0e0;
            // }
        }

        .list-item-contant {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #d5d5d5;
            vertical-align: top;
            line-height: 30px;
            padding: 8px 15px;
            color: #000000de;
            cursor: pointer;

        }

        .mat-icon {
            margin-right: 15px;
            font-size: 20px;

            i {
                font-size: 20px;
            }
        }

        .list-item-title {
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: capitalize;
        }

        &.add-sub-menu {
            overflow: hidden;

            // &.activeSubMenu {
            //     background-color: red;
            //     .list-menu {
            //         &.sub-list-menu {
            //             height:unset;
            //         }
            //     }
            // }

            .list-menu {
                width: 100%;
                border-right: unset;

                &.sub-list-menu {
                    transition: height 0.5s linear;
                    height: 0;
                }

                .list-item {
                    padding-right: 0px;

                        .mat-mdc-list-item:not(.mat-mdc-list-item-interactive), .mat-mdc-list-option:not(.mat-mdc-list-item-interactive){
                          cursor: pointer;
                        }
                     
                    &:first-child {
                        padding-top: 5px;
                    }

                    &:last-child {
                        padding-bottom: 5px;
                    }
                }
            }

        }
    }
}

.spinner-container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 100vh;
  /* Set the container height to the full viewport height */
  position: fixed;
  /* Make it a fixed position to overlay the whole page */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Optional: Add a semi-transparent background */
}
